<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ site.title }} - {{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <!-- Google Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Raleway:300,400,700' rel='stylesheet' type='text/css'>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="description" content="{{ site.description }}" />
        <meta name="keywords" content="{{ site.keywords }}" />
        <!-- feedburner -->
        <link href="http://feeds.feedburner.com/{{ site.feedburner.id }}" rel="alternate" title="{{ site.title }}" type="application/atom+xml" />
        <!-- javascript -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" src="/scripts/app.js"></script>
        <script type="text/javascript">
            $(function() {
                var app = new App();
                {% if site.google_analytics %}
                    app.googleAnalyticsAccount = '{{ site.google_analytics.account }}';
                {% endif %}
                app.run();
            });
        </script>
    </head>
    <body>
        <div class="site">
            <div class="sidebar" id="sidebar">
                <div class="header">
                    <h1 class="title"><a href="/"><img id="logo" src="/images/logo.png"></a></h1>
                    <span class="tagline">{{ site.title }}</span>
                </div>
                <div class="posts">
                    <ul class="posts-list">
                        {% for post in site.posts %}
                            <li class="post-link">
                                <a class="post-title" href="{{ post.url }}">
                                    <span class="post-date">{{ post.date | date_to_string }}</span>
                                    {{ post.title }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="footer">
                    <span id="footer-links">
                        <a href="{{site.github.url}}" class="footer-link">Github</a> <span class="separator">&bull;</span>
                        <a href="{{site.twitter.url}}" class="footer-link">Twitter</a>
                    </span>
                </div>
            </div>
            {{ content }}
        </div>
        <script type="text/javascript" src="/scripts/responsive.js"></script>
    </body>
</html>
